<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/menu']">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Captura de Poliza</ion-title>
    <ion-buttons slot="end" (click)="save()">
      <ion-button >
        <ion-icon name="save-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-item>
      <ion-label position="floating">Código Poliza</ion-label>
      <ion-input type="number" [(ngModel)]="idpol"></ion-input>
      <ion-buttons slot="end" (click)="totalpol()">
        <ion-button >
            <ion-icon name="newspaper-outline" style="margin-left: 60;"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-row>
  <ion-row>
    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-input type="text" [(ngModel)]="dec"></ion-input>
    </ion-item>
  </ion-row>
  <ion-row>
    <ion-item>
      <ion-label position="floating">Código Empleado</ion-label>
      <ion-input type="number" [(ngModel)]="idemp"></ion-input>
      <ion-buttons slot="end" [routerLink]="['/listados']">
        <ion-button >
          <ion-icon name="search-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-row>
  <ion-row>
    <ion-item>
      <ion-label position="floating">Código SKU</ion-label>
      <ion-input type="number" [(ngModel)]="id"></ion-input>
    </ion-item>
  </ion-row>
  <ion-row>
    <ion-item>
      <ion-label position="floating">Cantidad</ion-label>
      <ion-input type="number" [(ngModel)]="can"></ion-input>
    </ion-item>
  </ion-row>
  
  <ion-list>
    <ion-item>
      <ion-select interface="popover" placeholder="Tipo Poliza" [(ngModel)]="itemSelected" >
        <ion-select-option value="E">Entrada</ion-select-option>
        <ion-select-option value="S">Salida</ion-select-option>
        <ion-select-option value="A">Ajuste</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-row>
    <ion-col>Código</ion-col>
    <ion-col>Nombre</ion-col>
    <ion-col>Tipo</ion-col>
    <ion-col>Empleado</ion-col>
    <ion-col>Sku</ion-col>
    <ion-col>Cantidad</ion-col>
  </ion-row>
  <ion-row *ngFor="let user of poliza">
    <ion-col> {{ user.idpoliza }} </ion-col>
    <ion-col> {{ user.descripcion }} </ion-col>
    <ion-col> {{ user.tipo}} </ion-col>
    <ion-col> {{ user.idempleado}} </ion-col>
    <ion-col> {{ user.idsku}} </ion-col>
    <ion-col> {{ user.cantidad}} </ion-col>
  </ion-row>

</ion-content>
